name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17
      - name: Build with Maven
        run: mvn -B test-compile
      - name: Run tests with Maven
        timeout-minutes: 10
        run: mvn -B test
